<%- include('../layouts/header') %>
    <section class="homepage">
        <div class="container text-center contents">
            <small class="intro-callout color-purple-dark">
                Supercharge your business with CGI Connect
            </small>
            <h1 class="color-purple">Connect. Learn. Earn.</h1>
            <p>
                CGI Connect has everything you need in one place, making everyone's job smoother and more efficient. Our CRM
                software is designed to enhance collaboration and streamline workflows, so our team can focus on what they
                do best.
            </p>
            <a href="/contact" class="cgi-btn">Open Account</a>
        </div>
    </section>
    
    <%- include('../partials/business-intro') %>
    
    <section class="image-illustration">
    </section>

    <%- include('../partials/testimonials-carousel') %>

    <%- include('../partials/pricing-section') %>

    <%- include('../partials/homepage-cta') %>

<%- include('../layouts/footer') %>